* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

#root {
  position: absolute;

  width: 100%;
  height: 100%;


  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.pokemon-container {
  display: flex;
  justify-content: center;
  
  border: 1px solid blue;
}

.pokemon-info {
display: flex;

border: 1px solid green;
}

.pokemon-img {
  height: 40px;
  width: 45px;

  border: 1px solid red;
}